*.log
*.zip
*.rar
*~
*.lock
*.DS_Store
*.swp
*.out
*.idea
*.sass-cache
*tmp
*temp
*node_modules
*cache

.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/w3tc-config/
wp-content/wp-cache-config.php
wp-content/db.php
wp-content/object-cache.php